@font-face { 
    font-family: 'SofiaSans';
    src: url(../fonts/SofiaSansSemiCondensed-Light.woff2) format('woff2'), 
    url(../fonts/SofiaSansSemiCondensed-Light.ttf) format('truetype');
    font-weight: 300;
    font-display: swap;
} 

@font-face { 
    font-family: 'SofiaSans';
    src: url(../fonts/SofiaSansSemiCondensed-Regular.woff2) format('woff2'),
     url(../fonts/SofiaSansSemiCondensed-Regular.ttf) format('truetype');
    font-weight: 400;
    font-display: swap;
} 

@font-face { 
    font-family: 'SofiaSans';
    src: url(../fonts/SofiaSansSemiCondensed-Bold.woff2) format('woff2'), 
    url(../fonts/SofiaSansSemiCondensed-Bold.ttf) format('truetype');
    font-weight: 700;
    font-display: swap;
} 

@font-face { 
    font-family: AbyssinicaSIL;
    src: url(../fonts/AbyssinicaSIL-Regular.woff2) format('woff2'), 
    url(../fonts/AbyssinicaSIL-Regular.ttf) format('truetype');
    font-weight: 400;
    font-display: swap;
}

@font-face { 
    font-family: Alegreya;
    src: url(../fonts/Alegreya-Regular.woff2) format('woff2'), 
    url(../fonts/Alegreya-Regular.ttf) format('truetype');
    font-weight: 400;
    font-display: swap;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    list-style-type: none;
}

a {
    text-decoration: none;
}
/* HEADER START */

.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    display: flex;
    height: 7.81vw;

    border-bottom: 1px solid #fff;

    justify-content: center;

    z-index: 10;
}

.header__wr-nav {
    display: flex;
    width: 85%;

    justify-content: space-between;
    align-items: center;
}

.logo {
    display: inline-block;
    width: 6.51vw;
    height: 6.51vw;
}

.logo img {
    height: 100%;
    width: 100%;

    object-fit: contain;
    object-position: center;
}



/* HEADER END */

/* ////////////////  MAIN   ///////////////// */

/* products start */
.coffee {
    position: relative;

    display: flex;
    padding-top: 2.81vw;
    padding-bottom: 2.97vw;

    background:no-repeat url(../img/roasteria-side.png), #483D41;
    background-position: right 2.08vw top 0.5vw;

    flex-direction: column;
    align-items: center;
}

.coffee__wr-slider-top {
    position: relative;

    width: 85%;

    z-index: 5;
}

.coffee__wr-slider-bottom {
    position: relative;

    margin-top: 10.5vw;
    width: 85%;

    z-index: 5;
}

.coffee__side-deco {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;

    width: 41.5%;

    background-color: #6B6462;

    z-index: 0;
}

/* products end */


/* merch start */

.merch {
    display: flex;
    padding-top: 6vw;
    padding-bottom: 15vw;

    background: #483D41;

    flex-direction: column;
    align-items: center;
}

.merch__wr-slider {
    display: flex;
    width: 100%;

    justify-content: center;
}



.sl-prod {
    display: flex;
    gap: 2.5vw;
}

.sl-prod__big-img {
    position: relative;

    width: 21.46vw;
    min-width: 21.46vw;
    padding-top: 1.98vw;

    opacity: 0;
}

.sl-prod__big-img_visible {
    opacity: 1;
}

.sl-prod__big-img img {
    position: relative;

    width: 100%;
}

.sl-prod__big-img_deco {
    position: absolute;
    top: 53%;
    left: 50%;

    height: 84%;
    width: 80%;

    box-shadow: 0.78vw 1.04vw 3.02vw 0.63vw rgba(0, 0, 0, 1);

    transform: translate(-50%, -50%);
}

.sl-prod__wr-descr-preview {
    display: flex;

    flex-direction: column;
    flex-grow: 1;
}

.sl-prod__text-about {
    width: 66.2%;
    padding-right: 14.6%;

    align-self: flex-end;

    opacity: 0;
}

.sl-prod__text-about_visible {
    opacity: 1;
}

.sl-prod__title {
    font-family: 'SofiaSans';
    font-size: 2.08vw;
    font-weight: 700;
    text-transform: uppercase;

    color: #F1551C;
}

.sl-prod__description {
    margin-top: 2.29vw;
}

.sl-prod__taste-title {
    font-family: 'SofiaSans';
    font-size: 1.25vw;
    font-weight: 700;
    text-transform: uppercase;

    color: #FFF;
}

.sl-prod__taste-text {
    font-family: 'SofiaSans';
    font-size: 1.25vw;
    font-weight: 400;

    color: #FFF;
}

.sl-prod__aroma {
    margin-top: 2.08vw;
}

.sl-prod__aroma-title {
    font-family: 'SofiaSans';
    font-size: 1.25vw;
    font-weight: 700;
    text-transform: uppercase;

    color: #FFF;
}

.sl-prod__aroma-text {
    font-family: 'SofiaSans';
    font-size: 1.25vw;
    font-weight: 400;

    color: #FFF;
}

.sl-prod__line {
    width: 100%;
    height: 1.5px;
    margin-top: 1.41vw;

    background-color: #A59F9E;;
}

.sl-prod__character-list {
    margin-top: 1.20vw;
}

.sl-prod__character-item {
    display: flex;

    justify-content: space-between;
}

.sl-prod__prop {
    font-family: 'SofiaSans';
    font-size: 1.25vw;
    font-weight: 400;
    text-transform: uppercase;

    color: #FFF;
}

.sl-prod__val {
    font-family: 'SofiaSans';
    font-size: 1.25vw;
    font-weight: 400;

    color: #FFF;
}




.sl-prod__wr-prev {
    position: relative;

    height: 25.2vw;
    margin-top: 2.97vw;
}

.sl-prod__wr-slides {
    height: 100%;
    padding-left: 0.65vw;

    overflow: hidden;
}

.sl-prod__slides {
    display: flex;
    gap: 3.49vw;

    align-items: center;
}

.sl-prod__slide {
    display: flex;

    width: 14.58vw;
    height: 21.35vw;

    border-radius: 0.42vw;
    background: #726B68;
    box-shadow: 0.78vw 0.78vw 0.94vw 0.36vw rgba(0, 0, 0, 0.3);

    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
}

.sl-prod__slide_active {
    width: 16.15vw;
    height: 22.92vw;
}

.sl-prod__wr-img-slide {
    width: 42.528%; /*6.20vw*/
    height: 61.845%; /*13.18vw*/
    margin-top: 1.25vw;
}

.sl-prod__img-slide {
    width: 100%;
    height: 100%;

    object-fit: contain;
    object-position: center;
}

.sl-prod__wr-title-slide {
    margin-top: 0.83vw;
}

.sl-prod__title-slide {
    font-family: 'SofiaSans';
    font-size: 1.25vw;
    font-weight: 700;
    text-transform: uppercase;

    color: #A59F9E;
}

.sl-prod__wr-button-slide {
    position: relative;

    margin-top: 1.04vw;
}

.sl-prod__wr-button-slide-deco {
    position: absolute;
    top: 0;
    left: 50%;
    
    width: 120%;
    height: 100%;

    opacity: 0;

    border-radius: 50%;
    background: linear-gradient(180deg, rgba(114, 107, 104, 0.04) 15.09%, rgba(114, 107, 104, 0.8));

    transform: translate(-50%, 12%);

    pointer-events: none;
}

.sl-prod__slide_active .sl-prod__wr-button-slide-deco {
    opacity: 1;
}

.sl-prod__button-slide {
    display: flex;
    width: 8.75vw;
    height: 2.60vw;

    font-family: 'SofiaSans';
    font-size: 1.04vw;
    font-weight: 400;

    color: #fff;
    border-radius: 1.56vw;
    background: #F1551C;
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.15),
     5px 3px 6px 0px rgba(0, 0, 0, 0.13),
      11px 7px 8px 0px rgba(0, 0, 0, 0.08),
       20px 12px 9px 0px rgba(0, 0, 0, 0.02),
        31px 18px 10px 0px rgba(0, 0, 0, 0.00);

    justify-content: center;
    align-items: center;
}

/* добавить тень на кнопку активной карточки */
/* SLIDER HEAD START */

.slider-h {
    position: relative;

    width: 100%;
    height: 100vh;

    overflow: hidden;
}

.slider-h__mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%);
}

.slider-h__slides {
    height: 100%;
}

.slider-h__slides-list {
    display: flex;
    height: 100%;

    background: gray;
}

.slider__slide-item {
    width: 100%;
}

.slider__slide-item video::-moz-media-controls {
    display: none;
}

.slider__slide-item img {
    object-fit: cover;
    object-position: center;
}

.slider-h__arrows-name {
    position: absolute;
    top: 50%;
    left: 50%;

    display: flex;
    width: 87.5%;

    transform: translate(-50%, -50%);

    justify-content: center;
    align-items: flex-end;

    pointer-events: none;
}

.slider-h__wr-name-site {
    display: flex;

    line-height: 1;

    flex-direction: column;
    align-items: center;
}

.slider-h__wr-name-site-descr {
    display: flex;
    gap: 1.20vw;
}

.slider-h__name-site-lines {
    display: flex;
    gap: 0.42vw;

    flex-direction: column;
    justify-content: center;
}

.slider-h__name-site-line {
    height: 1.5px;
    width: 3.18vw;
} 

.slider-h__name-site-line_top {
    background-color: #fff;
}

.slider-h__name-site-line_bottom {
    background-color: #F1551C;
}

.slider-h__name-site-descr {
    font-family: 'SofiaSans';
    font-size: 2.08vw;
    font-style: normal;
    font-weight: 300;

    color: #FFF;
}

.slider-h__name-site {
    font-family: AbyssinicaSIL;
    font-weight: 400;
    font-size: 6.67vw;

    text-shadow: -0.26vw 0.26vw 0px rgba(0, 0, 0, 0.8);
    color: #fff;
}

.slider__arrow {
    display: none;
    width: 4.17vw;
    height: 4.17vw;

    cursor: pointer;
    pointer-events: initial;
}

.slider-h__pagination {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 5.16vw;

    display: flex;

    justify-content: center;
}

.slider-h__pagination-list {
    display: flex;
    gap: 4.32vw;
}

.slider-h__pagination-item {
    display: flex;
    gap: 0.73vw;

    align-items: center;
    cursor: pointer;
}

.slider-h__pagination-icon {
    height: 3.13vw;
    width: 3.13vw;
    
    background: no-repeat url(../img/icon/arrow-pag_icon.png);
    background-position: center;
    background-size: contain;
}

.slider-h__pagination-text {
    width: 12.40vw;

    color: #FFF;

    font-family: 'SofiaSans';
    font-size: 0.83vw;
    font-weight: 300;

    color: #fff;
}


.slider-h__line {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    height: 0.31vw;

    justify-content: center;
}

.slider-h__nav-line {
    position: relative;

    display: flex;
    width: 85%;

    border-radius: 0.16vw;
    background-color: rgba(255, 255, 255, 0.6);

    overflow: hidden;
}

.slider-h__nav-line-item {
    height: 100%;
    width: 0;

    background: #fff;
    border-radius: 0.16vw;
}


/* SLIDER HEAD END */
.merch__title {
    font-family: Alegreya;
    font-size: 5.21vw;
    font-weight: 400;

    color: #fff;
}
.nav {
    width: 47%;
}

ul.nav__list {
    display: flex;

    justify-content: space-between;
}

.nav__item {
    display: flex;
    height: 2.60vw;
    width: 8.75vw;

    border-radius: 1.56vw;
    border: 2px solid #FFF;

    overflow: hidden;
}

.nav__item-link {
    display: flex;
    height: 100%;
    width: 100%;

    font-family: 'SofiaSans';
    font-size: 1.25vw;
    font-weight: 400;

    color: #fff;

    align-items: center;
    justify-content: center;
}
.sl-p {
    display: flex;
    width: 85%;
    max-width: 85%;
    margin-top: 1.67vw;

    flex-direction: column;
    align-items: center;
}

.sl-p__slides-list {
    position: relative;

    display: flex;
    height: 29.84vw;
    width: 100%;

    justify-content: center; 
    align-items: center;
}

.sl-p__slide-item {
    position: absolute;

    perspective: 46.88vw;

    opacity: 0;
}

.sl-p__card {
    position: relative;

    display: flex;
    width: 21.15vw;
    height: 27.3vw;

    border-radius: 0.42vw;
    border: 0.16vw solid #F1551C;
    background: rgba(255, 255, 255, 1);

    flex-direction: column;
    align-items: center;
}

.sl-p__card-mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/* -- */
.sl-p__slide-item_prev-l {
    left: 1.6%;

    display: block;

    opacity: 0;
    z-index: 2;
}

.sl-p__slide-item_prev-l .sl-p__card {
    box-shadow: -1.46vw 1.46vw 2.34vw rgba(0, 0, 0, 0.4);

    transform: rotateY(21deg);
}

.sl-p__slide-item_prev-l .sl-p__card-mask {
    background-color: rgba(49, 49, 49, 0.25);
}
/* -- */

/* -- */
.sl-p__slide-item_prev {
    left: 11%;

    opacity: 1 !important;
    z-index: 2;
}

.sl-p__slide-item_prev .sl-p__card {
    box-shadow: -1.46vw 1.46vw 2.34vw rgba(0, 0, 0, 0.4);

    transform: rotateY(21deg);
}

.sl-p__slide-item_prev .sl-p__card-mask {
    background-color: rgba(49, 49, 49, 0.25);
}

.sl-p__slide-item_active {
    left: 50%;

    transform: translateX(-50%);

    opacity: 1 !important;
    z-index: 3;
}

.sl-p__slide-item_active .sl-p__card {
    width: 21.15vw;
    height: 29.84vw;

    box-shadow: 0vw 0vw 2.34vw rgba(0, 0, 0, 0.8);
}

.sl-p__slide-item_active .sl-p__card-mask {
    background-color: rgba(49, 49, 49, 0.2);

    pointer-events: none;
}

.sl-p__slide-item_next {
    left: 63.8%;

    opacity: 1 !important;
    z-index: 2;
}

.sl-p__slide-item_next .sl-p__card {
    box-shadow: 1.46vw 1.46vw 2.34vw rgba(0, 0, 0, 0.4);

    transform: rotateY(-21deg);
}

.sl-p__slide-item_next .sl-p__card-mask {
    background-color: rgba(49, 49, 49, 0.25);
}
/* -- */

/* -- */
.sl-p__slide-item_next-r {
    left: 73.1%;

    opacity: 0;
    z-index: 1;
}

.sl-p__slide-item_next-r .sl-p__card {
    box-shadow: 1.46vw 1.46vw 2.34vw rgba(0, 0, 0, 0.4);

    transform: rotateY(-21deg);
}

.sl-p__slide-item_next-r .sl-p__card-mask {
    background-color: rgba(49, 49, 49, 0.25);
}
/* -- */


.sl-p__slide-item_deco {
    position: relative;

    perspective: 46.88vw;
    z-index: 0;
}

.sl-p__slide-item_l {
    transform: translateX(-19.55vw);
}

.sl-p__slide-item_r {
    transform: translateX(19.55vw);
}

.sl-p__slide-card_deco {
    position: relative;

    width: 21.15vw;
    height: 27.3vw;

    border-radius: 0.42vw;
    border: 0.16vw solid #F1551C;
    background: rgba(255, 255, 255, 0.80);
}

.sl-p__slide-item_l .sl-p__slide-card_deco {
    box-shadow: -1.46vw 1.46vw 2.34vw rgba(0, 0, 0, 0.4);

    transform: rotateY(21deg);
}

.sl-p__slide-item_r .sl-p__slide-card_deco {
    box-shadow: 1.46vw 1.46vw 2.34vw rgba(0, 0, 0, 0.4);

    transform: rotateY(-21deg);
}

.sl-p__slide-card_deco-mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: rgba(0, 0, 0, 0.28);
}

.sl-p__control {
    display: flex;
    margin-top: 1.82vw;
}

.sl-p__arrow {
    width: 4.17vw;
    height: 4.17vw;
}

/* Слайдер в слайдере начало */

.sl-p__card-wr-slider {
    display: flex;
    width: 16.72vw;
    height: 19.32vw;

    transition: width 0.5s linear 0.5s, height 0.5s linear 0.5s;

    flex-direction: column;
}

.sl-p__slide-item_active .sl-p__card-wr-slider {
    width: 15.26vw;
    height: 17.66vw;
}

.sl-p__card-wr-slides {
    flex-grow: 1;

    overflow: hidden;
}

.sl-p__card-slides-list {
    display: flex;
}

.sl-p__card-slides-item {
    flex-grow: 1;
}

.sl-p__card-slides-img {
    width: 100%;
    height: 100%;

    object-fit: contain;
    object-position: center;
}

/* Слайдер в слайдере конец */

.sl-p__card-title {
    margin-top: 0.52vw;

    font-family: 'SofiaSans';
    font-size: 1.56vw;
    font-weight: 700;
    text-transform: uppercase;

    color: #3F3937;
}

.sl-p__card-wr-content {
    display: flex;
    height: 0;
    width: 100%;
    margin-top: 1.09vw;

    

    flex-direction: column;
    align-items: center;

    overflow: hidden;
    opacity: 0;
}

.sl-p__slide-item_prev .sl-p__card-wr-content {
    height: 0;

    transition: opacity 0.7s linear, height 1.5s linear 0.7s;

    opacity: 0;
}

.sl-p__slide-item_active .sl-p__card-wr-content {
    height: 100%;
    
    transition: height 1.5s linear, opacity 0.7s linear 0.7s;

    opacity: 1;
}

.sl-p__slide-item_next .sl-p__card-wr-content {
    height: 0;

    transition: opacity 0.7s linear, height 1.5s linear 0.7s;

    opacity: 0;
}

.sl-p__size-list {
    display: flex;
    /* height: 100%; */
    gap: 0.52vw;

    justify-content: center;
}

.sl-p__size-item {
    height: 1.88vw;
    width: 1.88vw;
    padding: 0.10vw;

    border-radius: 0.16vw;

    cursor: pointer;
}

.sl-p__size-item_active {
    border: 1px solid #3F3937;
}

.sl-p__size-item-num {
    display: flex;
    height: 100%;
    width: 100%;

    font-family: AbyssinicaSIL;
    font-size: 0.83vw;
    font-weight: 400;

    border-radius: 0.16vw;
    background: #000;
    color: #fff;

    align-items: center;
    justify-content: center;
}



.sl-p__card-slider-pag-list {
    display: flex;
    height: 0;
    gap: 0.52vw;

    align-self: center;

    transition: height 0.5s linear, opacity 0.5s linear 0.5s;

    opacity: 0;
    overflow: hidden;
}

.sl-p__slide-item_active .sl-p__card-slider-pag-list {
    height: 0.52vw;

    opacity: 1;
}

.sl-p__card-slider-pag-item {
    width: 0.52vw;

    border-radius: 50%;
    background: #A59F9E;
}

.sl-p__card-slider-pag-item_active {
    background: #3F3937;
}

.sl-p__card-content p {
    margin-top: 0.68vw;

    font-family: 'SofiaSans';
    font-size: 0.83vw;
    font-weight: 400;

    color: #3F3937;
}

.sl-p__card-wr-link {
    display: flex;
    margin-top: 0.94vw;

    justify-content: center;
}

.sl-p__card-link {
    display: flex;
    width: 15.57vw;
    height: 2.60vw;

    font-family: "SofiaSans";
    font-size: 1.04vw;
    font-weight: 400;

    border-radius: 1.56vw;
    background: #F1551C;
    box-shadow: 
        1px 1px 3px 0px rgba(0, 0, 0, 0.15), 
        5px 3px 6px 0px rgba(0, 0, 0, 0.13), 
        11px 7px 8px 0px rgba(0, 0, 0, 0.08), 
        20px 12px 9px 0px rgba(0, 0, 0, 0.02), 
        31px 18px 10px 0px rgba(0, 0, 0, 0.00)
    ;
    color: #FFF;

    align-items: center;
    justify-content: center;
}

/*# sourceMappingURL=style.css.map*/