@font-face { 
    font-family: 'SofiaSans';
    src: url(../fonts/SofiaSansSemiCondensed-Light.woff2) format('woff2'), 
    url(../fonts/SofiaSansSemiCondensed-Light.ttf) format('truetype');
    font-weight: 300;
    font-display: swap;
} 

@font-face { 
    font-family: 'SofiaSans';
    src: url(../fonts/SofiaSansSemiCondensed-Regular.woff2) format('woff2'),
     url(../fonts/SofiaSansSemiCondensed-Regular.ttf) format('truetype');
    font-weight: 400;
    font-display: swap;
} 

@font-face { 
    font-family: 'SofiaSans';
    src: url(../fonts/SofiaSansSemiCondensed-Bold.woff2) format('woff2'), 
    url(../fonts/SofiaSansSemiCondensed-Bold.ttf) format('truetype');
    font-weight: 700;
    font-display: swap;
} 

@font-face { 
    font-family: AbyssinicaSIL;
    src: url(../fonts/AbyssinicaSIL-Regular.woff2) format('woff2'), 
    url(../fonts/AbyssinicaSIL-Regular.ttf) format('truetype');
    font-weight: 400;
    font-display: swap;
}

@font-face { 
    font-family: Alegreya;
    src: url(../fonts/Alegreya-Regular.woff2) format('woff2'), 
    url(../fonts/Alegreya-Regular.ttf) format('truetype');
    font-weight: 400;
    font-display: swap;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    list-style-type: none;
}

a {
    text-decoration: none;
}
/* HEADER START */

.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    display: flex;
    height: 7.81vw;

    border-bottom: 1px solid #fff;

    justify-content: center;

    z-index: 10;
}

.header__wr-content {
    display: flex;
    width: 85%;

    justify-content: space-between;
    align-items: center;
}

/* HEADER END */

/* ////////////////  MAIN   ///////////////// */

.main {
    padding-bottom: 11.28vw;

    background:no-repeat url(../img/roasteria-side.png), #483D41;
    background-position: right 0.35vw top 101.6vh;
    background-size: 11.41vw auto;
}

/* products start */
.coffee {
    position: relative;

    display: flex;
    padding-top: 2.81vw;
    padding-bottom: 2.97vw;

    

    flex-direction: column;
    align-items: center;

    z-index: 0;
}

.coffee__wr-slider-top {
    position: relative;

    width: 85%;

    z-index: 5;
}

.coffee__wr-slider-bottom {
    position: relative;

    margin-top: 10.5vw;
    width: 85%;

    z-index: 5;
}

.coffee__side-deco {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;

    width: 41.5%;

    background-color: #6B6462;

    z-index: 0;
}

/* products end */


/* merch start */

.merch {
    position: relative;

    display: flex;
    padding-top: 6vw;

    flex-direction: column;
    align-items: center;

    z-index: 1;
}

.merch__wr-slider {
    display: flex;
    width: 100%;

    justify-content: center;
}

/* merch end */


/* accessories start */

.accessories {
    position: relative;

    display: flex;
    padding-top: 4.5vw;

    flex-direction: column;
    align-items: center;

    z-index: 2;
}

.accessories__wr-slider {
    display: flex;
    width: 100%;

    justify-content: center;
}

/* accessories end */

/* КОНТАКТЫ START */

.contacts {
    display: flex;
    padding-top: 5.2vw;

    flex-direction: column;
    align-items: center;
}

.contacts__wr-data {
    display: flex;
    width: 85%;
    margin-top: 2.76vw;

    justify-content: space-between;
}

.contacts__map {
    width: 51.67vw;
    height: 28.59vw;
}

.contacts__map img {
    height: 100%;
    width: 100%;

    box-shadow: 20px 20px 65px rgba(0, 0, 0, 0.3);

    object-fit: cover;
    object-position: center;
}

.contacts__wr-address {
    margin-top: .2vw;
}

.contacts__logo-mobile {
    display: none;
}

.contacts__wr-address h3 {
    font-family: 'SofiaSans';
    font-size: 1.46vw;
    font-weight: 400;

    color: #fff;
}

.contacts__wr-address p {
    font-family: 'SofiaSans';
    font-size: 1.25vw;
    font-weight: 400;

    color: #fff;
}

.contacts__wr-address a {
    font-family: 'SofiaSans';
    font-size: 1.46vw;
    font-weight: 400;

    color: #fff;
}

.contacts__address p {
    display: flex;

    flex-direction: column;
}

.contacts__working-time {
    margin-top: 1.93vw;
}

.contacts__phone-number {
    display: flex;
    margin-top: 3.49vw;
    gap: 2.34vw;
}

.button-to-top {
    width: 4.11vw;
    height: 4.11vw;
    margin-top: 0.52vw;

    cursor: pointer;
}

.contacts__social-list {
    display: flex;
    gap: 1.61vw;
}

.contacts__social-item {
    position: relative;

    width: 2.08vw;
    height: 2.08vw;
}

.contacts__social-item-link {
    position: absolute;
    left: 0;
    top: 0;

    height: 100%;
    width: 100%;
}

/* КОНТАКТЫ END */


/* FOOTER START */

.footer {
    position: relative;

    display: flex;

    background: #483D41;

    flex-direction: column;
    align-items: center;
}

.footer__roasteria-side {
    position: absolute;
    top: 0;
    left: 0;

    height: 80.21vw;
    width: 11.41vw;

    background: no-repeat url(../img/roasteria-side.png);
    background-position: center;
    background-size: 100% auto;

    transform: translate(3%, -95.3%);
}

.footer__wr-content {
    position: relative;

    display: flex;
    width: 85%;
    padding-bottom: 0.94vw;

    justify-content: space-between;
    align-items: center;
}

.footer__copyright {
    width: 100%;
    padding-top: 1.04vw;
    padding-bottom: 1.30vw;

    border-top: 1px solid #fff;
}

.footer__copyright p {
    font-family: 'SofiaSans';
    font-size: 0.83vw;
    font-weight: 400;
    text-align: center;

    color: #FFF;
}

/* FOOTER END */

/* HEADER */

@media( max-width: 961px ) {
    .header {
        height: auto;
        padding-bottom: 2.40vw;
        padding-top: 2.40vw;
    }
}

@media( max-width: 961px ) {
    .header__wr-content {
        gap: 1.33vw;

        flex-direction: column;
    }
}

/* ------------------------------------- */

/* COFFEE */
@media( max-width: 961px ) {
    .coffee {
        padding-top: 0;
    }
}

@media( max-width: 961px ) {
    .coffee__wr-slider-top {
        width: 100%;
    }
}

@media( max-width: 961px ) {
    .coffee__wr-slider-bottom {
        width: 100%;
    }
}

/* ------------------------------------- */

/* MERCH */

@media( max-width: 961px ) {
    .merch {
        padding-top: 10.13vw;
    }
}

/* ------------------------------------- */


/* ACCESSORIES */

@media( max-width: 961px ) {
    .accessories {
        padding-top: 14.6vw;
    }
}

/* ------------------------------------- */


/* CONTACTS */


@media( max-width: 961px ) {
    .contacts {
        padding-top: 14.6vw;
    }
}

@media( max-width: 961px ) {
    .contacts__wr-data {
        width: 100%;
        margin-top: 5.2vw;

        flex-direction: column;
        align-items: center;
    }
}

@media( max-width: 961px ) {
    .contacts__map {
        width: 100%;
        height: 85.33vw;
    }
}

@media( max-width: 961px ) {
    .contacts__wr-address {
        position: relative;

        width: 90%;
        padding-bottom: 17.60vw;

        text-align: center;

        margin-top: 3.73vw;
    }
}

@media( max-width: 961px ) {
    .contacts__logo-mobile {
        display: flex;
        width: 41.60vw;
        margin: 0 auto;
        padding-bottom: 2.40vw;
    
        border-bottom: 1px solid #ffffff;
    
        justify-content: center;
    }

    .contacts__logo-mobile .logo {
        width: 19.73vw;
        height: 20vw;
    }
}

@media( max-width: 961px ) {
    .contacts__address {
        margin-top: 5vw;
    }
}

@media( max-width: 961px ) {
    .contacts__wr-address h3 {
        font-size: 5.33vw;
    }
}

@media( max-width: 961px ) {
    .contacts__wr-address p {
        font-size: 3.73vw;
    }
}

@media( max-width: 961px ) {
    .contacts__working-time {
        margin-top: 3.8vw;
    }
}

@media( max-width: 961px ) {
    .contacts__phone-number {
        margin-top: 7vw;

        justify-content: center;
    }
}

@media( max-width: 961px ) {
    .contacts__wr-address a {
        font-size: 3.73vw;
    }
}

@media( max-width: 961px ) {
    .button-to-top {
        position: absolute;
        top: 0;
        right: 0;

        width: 16vw;
        height: 16vw;
        margin: 0;
    }
}

@media( max-width: 961px ) {
    .contacts__social-list {
        margin-top: 7.5vw;
        gap: 8vw;

        justify-content: center;
    }
}

@media( max-width: 961px ) {
    .contacts__social-item {
        width: 10.67vw;
        height: 10.67vw;
    }
}

/* ------------------------------------- */

/* FOOTER */

@media( max-width: 961px ) {
    .footer__roasteria-side {
        height: 111.5vw;
        width: 16.7vw;

        transform: translate(4%, -107%);
    }
}

@media( max-width: 961px ) {
    .footer__wr-content {
        display: none;
    }
}

@media( max-width: 961px ) {
    .footer__copyright {
        padding-top: 2.6vw;
        padding-bottom: 3.6vw;

        font-size: 4.27vw;
    }
}

@media( max-width: 961px ) {
    .footer__copyright p {
        font-size: 4.27vw;
    }
}

.sl-prod__wrapper-images {
    position: relative;

    display: flex;
    gap: 2.5vw;
}

.sl-prod__wr-big-img-filter {
    max-width: 21.46vw;
}

.sl-prod__filter-list {
    display: flex;
    min-width: 120%;
    gap: 1.04vw;

    transform: translateX(-1.5vw);
    justify-content: center;
}

.sl-prod__filter-item {
    display: flex;
    height: 3.13vw;

    font-family: 'SofiaSans';
    font-size: 1.25vw;
    font-weight: 400;

    color: #fff;
    border: 0.15vw solid #FFF;

    align-items: center;
    flex-shrink: 0;

    transition: box-shadow 0.1s linear;

    user-select: none;
    cursor: pointer;
}

.sl-prod__filter-item:hover {
    box-shadow: 0 0 5px rgba(255, 255, 255, 1);
}

.sl-prod__filter-type {
    padding-left: 1.56vw;
    padding-right: 1.56vw;

    border-radius: 1.56vw;
}

.sl-prod__filter-reset {
    width: 3.13vw;

    border-radius: 50%;
}

.sl-prod__filter_active {
    background: #F1551C;

    cursor: default;
}

.sl-prod__filter_active:hover {
    box-shadow: none;
}

.sl-prod__wr-big-img {
    position: relative;

    height: 100%;
    width: 21.46vw;
    min-width: 21.46vw;
}

.sl-prod__big-img {
    position: relative;

    width: 100%;
    height: 100%;

    filter: drop-shadow(23px 24px 20px rgba(0, 0, 0, 0.6));

    object-fit: contain;
    object-position: center;

    opacity: 0;
    z-index: 1;
}

.sl-prod__big-img_visible {
    opacity: 1;
}

.sl-prod__wr-descr-preview {
    display: flex;
    gap: 6.97vw;

    flex-direction: column;
    flex-grow: 1;
}

.sl-prod__text-about {
    width: 66.2%;
    padding-right: 14.6%;

    align-self: flex-end;

    opacity: 0;
}

.sl-prod__text-about_visible {
    opacity: 1;
}

.sl-prod__header {
    position: relative;
}

.sl-prod__title {
    width: fit-content;

    font-family: 'SofiaSans';
    font-size: 2.08vw;
    font-weight: 700;
    text-transform: uppercase;

    color: #F1551C;
}

.sl-prod__description {
    margin-top: 2.29vw;
}

.sl-prod__taste p{
    position: relative;
}

.sl-prod__taste-title {
    font-family: 'SofiaSans';
    font-size: 1.25vw;
    font-weight: 700;
    text-transform: uppercase;

    color: #FFF;
}

.sl-prod__wr-taste-text {
    flex-grow: 1;
}

.sl-prod__taste-text {
    font-family: 'SofiaSans';
    font-size: 1.25vw;
    font-weight: 400;

    color: #FFF;
}

.sl-prod__line {
    width: 100%;
    height: 1.5px;
    margin-top: 1.41vw;

    background-color: #A59F9E;;
}

.sl-prod__character-list {
    margin-top: 1.20vw;
}

.sl-prod__character-item {
    position: relative;

    display: flex;

    justify-content: space-between;
}

.sl-prod__prop {
    font-family: 'SofiaSans';
    font-size: 1.25vw;
    font-weight: 400;
    text-transform: uppercase;

    color: #FFF;
}

.sl-prod__val {
    font-family: 'SofiaSans';
    font-size: 1.25vw;
    font-weight: 400;

    color: #FFF;
}




.sl-prod__wr-prev {
    position: relative;

    height: 25.2vw;
}

.sl-prod__wr-slides {
    position: relative;

    height: 100%;
    padding-left: 0.65vw;

    overflow: hidden;
}

.sl-prod__slides {
    display: flex;
    gap: 3.49vw;

    align-items: center;
    
    opacity: 0;
}

.sl-prod__slides_visible {
    opacity: 1;
}

.sl-prod__slide {
    display: flex;

    width: 14.58vw;
    height: 21.35vw;

    border-radius: 0.42vw;
    background: #726B68;
    box-shadow: 0.78vw 0.78vw 0.94vw 0.36vw rgba(0, 0, 0, 0.3);

    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
}

.sl-prod__slide_active {
    width: 16.15vw;
    height: 22.92vw;
}

.sl-prod__wr-img-slide {
    position: relative;

    width: 42.528%; /*6.20vw*/
    height: 61.845%; /*13.18vw*/
    margin-top: 1.25vw;
}

.sl-prod__img-slide {
    position: relative;

    width: 100%;
    height: 100%;

    filter: drop-shadow(8px 7px 14px rgba(0, 0, 0, 0.55));

    object-fit: contain;
    object-position: center;

    z-index: 2;
}

.sl-prod__img-slide-deco {
    position: absolute;

    transform: translate(-50%, -50%);

    z-index: 1;
}

.sl-prod__wr-img-slide_espresso .sl-prod__img-slide-deco {
    top: 46%;
    left: 50%;

    width: 45.528%;
    height: 80.845%;

    box-shadow: 0.78vw 1.04vw 3.02vw 0.63vw rgba(0, 0, 0, 1);
}

.sl-prod__wr-img-slide_filter .sl-prod__img-slide-deco {
    top: 46.7%;
    left: 42%;

    width: 73.528%;
    height: 39.845%;

    box-shadow: 0.78vw 1.04vw 2.02vw 0.63vw rgba(0, 0, 0, 0.6);
}

.sl-prod__wr-img-slide_drip .sl-prod__img-slide-deco {
    top: 46.7%;
    left: 42%;

    width: 73.528%;
    height: 39.845%;
    
    box-shadow: 0.78vw 1.04vw 2.02vw 0.63vw rgba(0, 0, 0, 0.6);
}

.sl-prod__wr-title-slide {
    margin-top: 0.83vw;
}

.sl-prod__title-slide {
    font-family: 'SofiaSans';
    font-size: 1.15vw;
    font-weight: 700;
    text-transform: uppercase;

    color: #A59F9E;
}

.sl-prod__wr-button-slide {
    position: relative;

    margin-top: 1.04vw;
}

.sl-prod__wr-button-slide-deco {
    position: absolute;
    top: 0;
    left: 50%;
    
    width: 120%;
    height: 100%;

    opacity: 0;

    border-radius: 50%;
    background: linear-gradient(180deg, rgba(114, 107, 104, 0.04) 15.09%, rgba(114, 107, 104, 0.8));

    transform: translate(-50%, 12%);

    pointer-events: none;
}

.sl-prod__slide_active .sl-prod__wr-button-slide-deco {
    opacity: 1;
}

.sl-prod__button-slide {
    display: flex;
    width: 8.75vw;
    height: 2.60vw;

    font-family: 'SofiaSans';
    font-size: 1.04vw;
    font-weight: 400;

    color: #fff;
    border-radius: 1.56vw;
    background: #F1551C;
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.15),
     5px 3px 6px 0px rgba(0, 0, 0, 0.13),
      11px 7px 8px 0px rgba(0, 0, 0, 0.08),
       20px 12px 9px 0px rgba(0, 0, 0, 0.02),
        31px 18px 10px 0px rgba(0, 0, 0, 0.00);

    justify-content: center;
    align-items: center;
}

.sl-prod .slider__arrow {
    position: absolute;
    top: 50%;

    display: block;

    transform: translate(0, -50%);
}

.sl-prod .slider__arrow-next {
    right: -0.5%;
}

.sl-prod .slider__arrow-prev {
    right: 5%;
}


/* карточки с большим описанием */

.sl-prod__wr-big-description {
    position: relative;

    width: 75.73vw;
    margin-top: 4.74vw;
}

.sl-prod__big-desc-card {
    position: absolute;

    display: flex;
    padding-top: 2.66vw;
    padding-right: 1.35vw;
    padding-bottom: 2.66vw;
    padding-left: 2.45vw;
    gap: 2.19vw;

    background: #726B68;
    box-shadow: 81px 182px 56px 0px rgba(0, 0, 0, 0.00),
     52px 116px 51px 0px rgba(0, 0, 0, 0.02),
      29px 65px 43px 0px rgba(0, 0, 0, 0.08),
       13px 29px 32px 0px rgba(0, 0, 0, 0.13),
        3px 7px 17px 0px rgba(0, 0, 0, 0.15),
         -2px -2px 5px rgba(0,0,0,0.2);

    opacity: 0;
    z-index: 0;
}

.sl-prod__big-desc-card-drip {
    flex-direction: column;
}

.sl-prod__big-desc-card_active {
    position: static;

    opacity: 1;
    z-index: 3;
}

.sl-prod__big-desc-images {
    display: flex;
    gap: 0.89vw;

    flex-direction: column;
}

.sl-prod__big-desc-wr-img {
    width: 21.93vw;
    height: 16.46vw;

    flex-shrink: 0;
}

.sl-prod__big-desc-wr-img img {
    height: 100%;
    width: 100%;

    object-fit: contain;
    object-position: center;

    filter: drop-shadow(6px 9px 14px rgba(0, 0, 0, 0.65))
}

/* карточки не drip */

.sl-prod__big-desc-title {
    font-family: 'SofiaSans';
    font-size: 2.08vw;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 0.7;

    color: #F37548;
}

.sl-prod__big-desc-text {
    margin-top: 1.35vw;
}

.sl-prod__big-desc-text p {
    display: flex;
    gap: 1.56vw;

    font-family: 'SofiaSans';
    font-size: 1.25vw;
    font-weight: 400;

    color: #fff;

    flex-direction: column;
}

[data-id='honduras-otilo-garsias'] p {
    font-size: 1.04vw;
}

/* карточки drip */
.sl-prod__big-desc-set {
    display: flex;
    gap: 1.72vw;
}

.sl-prod__big-desc-wr-text-set {
    flex-grow: 1;
}

.sl-prod__big-desc-title-set {
    font-family: 'SofiaSans';
    font-size: 2.08vw;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 0.8;

    color: #F37548;
}

.sl-prod__big-desc-wr-text-set p {
    margin-top: 1.25vw;

    font-family: 'SofiaSans';
    font-size: 1.25vw;
    font-weight: 400;

    color: #fff;
}

.sl-prod__big-desc-set-list {
    margin-top: 1.98vw;
}

.sl-prod__big-desc-set-item {
    font-family: 'SofiaSans';
    font-size: 1.25vw;
    font-weight: 400;
    text-transform: uppercase;

    color: #fff;
}

.sl-prod__big-desc-set-item::before {
    content: "";

    display: inline-block;

    width: 3px;
    height: 3px;
    margin-right: 0.8vw;

    background: #fff;

    vertical-align: middle;
}

.sl-prod__big-compos-desc-set {
    display: flex;
    gap: 1.72vw;
}

.sl-prod__big-compos-desc-set-list {
    display: flex;

    justify-content: space-between;
}

.sl-prod__big-compos-desc-set-item {
    width: 30.1%;
}

.sl-prod__big-compos-desc-title {
    font-family: 'SofiaSans';
    font-size: 1.35vw;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    line-height: 0.8;

    color: #F37548;
}

.sl-prod__big-compos-desc-profile {
    margin-top: 1.09vw;

    font-family: 'SofiaSans';
    font-size: 1.04vw;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;

    color: #fff;
}

.sl-prod__big-compos-desc-set-item p {
    font-family: 'SofiaSans';
    font-size: 1.25vw;
    font-weight: 300;
    text-align: center;

    color: #fff;
}

.sl-prod__big-desc-deco {
    display: none;
}






@media( max-width: 961px ) {
    .sl-prod__wrapper-images {
        gap: 0;

        flex-direction: column;
    }
}

@media( max-width: 961px ) {
    .sl-prod__filter-list {
        min-width: 0;
        padding-top: 4.27vw;
        gap: 2.67vw;

        background: #6B6462;

        transform: none;
    }
}

@media( max-width: 961px ) {
    .sl-prod__filter-item {
        width: 24.27vw;
        height: 8.80vw;

        font-size: 3.20vw;

        border-width: 1px;

        justify-content: center;
    }

    .sl-prod__filter-item:hover {
        box-shadow: none;
    }

    .sl-prod__filter-type {
        padding-left: 0;
        padding-right: 0;

        border-radius: 8vw;
    }

    .sl-prod__filter-reset {
        width: 8.80vw;
    }
}

@media( max-width: 961px ) {
    
}

@media( max-width: 961px ) {
    
}

@media( max-width: 961px ) {
    .sl-prod__wr-big-img-filter {
        display: none;
    }
}

@media( max-width: 961px ) {
    .sl-prod__text-about {
        width: 90%;
        padding-right: 0;

        align-self: center;
        order: 2;
    }
}

@media( max-width: 961px ) {
    .sl-prod__header {
        margin-top: 10.67vw;
    }
}

@media( max-width: 961px ) {
    .sl-prod__title {
        width: 100%;
        font-size: 6.40vw;
        text-align: center;
    }
}

@media( max-width: 961px ) {
    .sl-prod__taste-title {
        font-size: 4.27vw;
    }
}

@media( max-width: 961px ) {
    .sl-prod__taste-text {
        font-size: 3.73vw;
    }
}

@media( max-width: 961px ) {
    .sl-prod__aroma {
        margin-top: 6.4vw;
    }
}

@media( max-width: 961px ) {
    .sl-prod__aroma-title {
        font-size: 4.27vw;
    }
}

@media( max-width: 961px ) {
    .sl-prod__aroma-text {
        font-size: 3.73vw;
    }
}

@media( max-width: 961px ) {
    .sl-prod__line {
        margin-top: 3.6vw;
    }
}

@media( max-width: 961px ) {
    .sl-prod__character-list {
        margin-top: 6.8vw;
    }
}

@media( max-width: 961px ) {
    .sl-prod__prop {
        font-size: 4.27vw;
    }
}

@media( max-width: 961px ) {
    .sl-prod__val {
        font-size: 3.73vw;
    }
}

@media( max-width: 961px ) {
    .sl-prod__wr-prev {
        height: 128.80vw;
        margin-top: 0;

        background-color: #6B6462;

        order: 1;
    }
}

@media( max-width: 961px ) {
    .sl-prod__wr-slides {
        padding-left: 0;
        padding-top: 11vw;
    }
}

@media( max-width: 961px ) {
    .sl-prod__slides {
        gap: 0;

        align-items: initial;
    }
}

@media( max-width: 961px ) {
    .sl-prod__slide {
        width: 0;
        height: auto;

        background: none;
        box-shadow: none;

        flex-grow: 1;
        flex-shrink: 1;
        align-items: center;
    }

    .sl-prod__slide_active {
        width: 0;
        height: auto;
    }
}

@media( max-width: 961px ) {
    .sl-prod__wr-img-slide {
        width: 38.40vw;
        height: 82.13vw;
        margin-top: 0;
    }
} 

@media( max-width: 961px ) {
    .sl-prod__img-slide-deco {
        top: 48.5%;
        left: 50%;
        
        width: 71.528%;
        height: 85.845%;

        box-shadow: 2.4vw 6.04vw 9.02vw 0.63vw rgba(0, 0, 0, 0.8);
    }
}

@media( max-width: 961px ) {
    .sl-prod__wr-title-slide {
        margin-top: 5.87vw;
    }
}

@media( max-width: 961px ) {
    .sl-prod__title-slide {
        width: fit-content;

        font-size: 5.33vw;
    }
}

@media( max-width: 961px ) {
    .sl-prod__wr-button-slide {
        width: fit-content;
        margin-top: 6.13vw;
    }
}

@media( max-width: 961px ) {
    .sl-prod__button-slide {
        width: 54.40vw;
        height: 10.67vw;

        font-size: 4.27vw;

        border-radius: 8vw;
    }
}


@media( max-width: 961px ) {
    .sl-prod .slider__arrow-prev {
        left: 2%;
    }

    .sl-prod .slider__arrow {
        top: 39.5%;
    }
}

@media( max-width: 961px ) {
    .coffee__side-deco {
        display: none;
    }
}



@media( max-width: 961px ) {
    .sl-prod__wr-big-description {
        display: flex;
        width: 100%;
        margin-top: 25.87vw;
        padding-top: 8.53vw;

        justify-content: center;
    }
}

@media( max-width: 961px ) {
    .sl-prod__big-desc-card {
        width: 89.5%;
        gap: 6.13vw;
        padding-top: 4vw;
        padding-right: 4.80vw;
        padding-left: 4.80vw;
        padding-bottom: 6.13vw;

        box-shadow: 0px 0px 15.1px 7px rgba(0, 0, 0, 0.25);

        flex-direction: column;
    }

    .sl-prod__big-desc-card-drip {
        gap: 4vw;
    }
}

@media( max-width: 961px ) {
    .sl-prod__big-desc-images {
        order: 2;
    }

    .sl-prod__big-desc-wr-text {
        order: 1;
    }
}

@media( max-width: 961px ) {
    .sl-prod__big-desc-title {
        font-size: 6.4vw;
        text-align: center;
    }
}

@media( max-width: 961px ) {
    .sl-prod__big-desc-text {
        margin-top: 4vw;
    }

    .sl-prod__big-desc-text p {
        gap: 4.80vw;

        font-size: 3.73vw;
        text-align: center;
    }
}

@media( max-width: 961px ) {
    .sl-prod__big-desc-images {
        gap: 4vw;
    }
}

@media( max-width: 961px ) {
    .sl-prod__big-desc-wr-img {
        width: 100%;
        height: 60vw;
    }
}

@media( max-width: 961px ) {
    .sl-prod__big-desc-set {
        gap: 13.60vw;

        flex-direction: column;
    }
}

@media( max-width: 961px ) {
    .sl-prod__big-desc-set .sl-prod__big-desc-wr-img {
        order: 2;
    }

    .sl-prod__big-desc-set .sl-prod__big-desc-wr-text-set {
        order: 1;
    }
}

@media( max-width: 961px ) {
    .sl-prod__big-desc-title-set {
        font-size: 6.40vw;
        text-align: center;
    }
}

@media( max-width: 961px ) {
    .sl-prod__big-desc-wr-text-set p {
        margin-top: 4vw;

        font-size: 3.73vw;
    }
}

@media( max-width: 961px ) {
    .sl-prod__big-desc-set-list {
        margin-top: 6.13vw;
    }
}

@media( max-width: 961px ) {
    .sl-prod__big-desc-set-item {
        font-size: 3.73vw;
    }
}

@media( max-width: 961px ) {
    .sl-prod__big-compos-desc-set {
        gap: 8.80vw;

        flex-direction: column;
    }
}

@media( max-width: 961px ) {
    .sl-prod__big-compos-desc-set-list {
        gap: 8.80vw;

        flex-direction: column;
        justify-content: normal;
    }
}

@media( max-width: 961px ) {
    .sl-prod__big-compos-desc-set-item {
        width: auto;
    }
}

@media( max-width: 961px ) {
    .sl-prod__big-compos-desc-title {
        font-size: 6.93vw;
    }
}

@media( max-width: 961px ) {
    .sl-prod__big-compos-desc-profile {
        margin-top: 2.13vw;

        font-size: 5.33vw;
    }
}

@media( max-width: 961px ) {
    .sl-prod__big-compos-desc-set-item p {
        font-size: 6.40vw;
    }
}

@media( max-width: 961px ) {
    .sl-prod__big-desc-deco {
        position: absolute;
        top: 0;
        left: 0;

        display: block;
        width: 100%;
        height: 80%;

        background: #726B68;

        z-index: -1;
    }
}
/* SLIDER HEAD START */

.slider-h {
    position: relative;

    width: 100%;
    height: 100vh;

    overflow: hidden;
}

.slider-h__mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%);
}

.slider-h__slides {
    height: 100%;
}

.slider-h__slides-list {
    display: flex;
    height: 100%;

    background: gray;
}

.slider__slide-item {
    width: 100%;
}

.slider__slide-item video::-moz-media-controls {
    display: none;
}

.slider__slide-item img {
    object-fit: cover;
    object-position: center;
}

.slider-h__arrows-name {
    position: absolute;
    top: 50%;
    left: 50%;

    display: flex;
    width: 87.5%;

    transform: translate(-50%, -50%);

    justify-content: center;
    align-items: flex-end;

    pointer-events: none;
}

.slider-h__wr-name-site {
    display: flex;

    line-height: 1;

    flex-direction: column;
    align-items: center;
}

.slider-h__wr-name-site-descr {
    display: flex;
    gap: 1.20vw;
}

.slider-h__name-site-lines {
    display: flex;
    gap: 0.42vw;

    flex-direction: column;
    justify-content: center;
}

.slider-h__name-site-line {
    height: 1.5px;
    width: 3.18vw;
} 

.slider-h__name-site-line_top {
    background-color: #fff;
}

.slider-h__name-site-line_bottom {
    background-color: #F1551C;
}

.slider-h__name-site-descr {
    font-family: 'SofiaSans'; 
    font-size: 2.08vw;
    font-style: normal;
    font-weight: 300;

    color: #FFF;
}

.slider-h__name-site {
    font-family: AbyssinicaSIL;
    font-weight: 400;
    font-size: 6.67vw;

    text-shadow: -0.26vw 0.26vw 0px rgba(0, 0, 0, 0.8);
    color: #fff;
}

.slider-h .slider__arrow {
    pointer-events: initial;
}

.slider-h__pagination {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 5.16vw;

    display: flex;

    justify-content: center;
}

.slider-h__pagination-list {
    display: flex;
    gap: 4.32vw;
}

.slider-h__pagination-item {
    display: flex;
    gap: 0.73vw;

    align-items: center;
    cursor: pointer;
}

.slider-h__pagination-icon {
    height: 3.13vw;
    width: 3.13vw;
    
    background: no-repeat url(../img/icon/arrow-pag_icon.png);
    background-position: center;
    background-size: contain;
}

.slider-h__pagination-text {
    width: 12.40vw;

    color: #FFF;

    font-family: 'SofiaSans';
    font-size: 0.83vw;
    font-weight: 300;

    color: #fff;
}


.slider-h__line {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    height: 0.31vw;

    justify-content: center;
}

.slider-h__nav-line {
    position: relative;

    display: flex;
    width: 85%;

    border-radius: 0.16vw;
    background-color: rgba(255, 255, 255, 0.6);

    overflow: hidden;
}

.slider-h__nav-line-item {
    position: absolute;
    left: 0;

    height: 100%;
    width: 0;

    background: #fff;
    border-radius: 0.16vw;
}


/* SLIDER HEAD END */


@media( max-width: 961px ) {
    .slider-h {
        height: 122.67vw;
    }
}

@media( max-width: 961px ) {
    .slider-h__arrows-name {
        top: 56%;
    }
}

@media( max-width: 961px ) {
    .slider-h__name-site-lines {
        display: none;
    }
}

@media( max-width: 961px ) {
    .slider-h__name-site-descr {
        font-size: 4.27vw;
    }
}

@media( max-width: 961px ) {
    .slider-h__name-site {
        font-size: 10.67vw;
    }
}

@media( max-width: 961px ) {
    .slider-h__pagination-list {
        gap: 16vw;
    }
}

@media( max-width: 961px ) {
    .slider-h__pagination-item {
        gap: 1.2vw;

        flex-direction: column;
    }
}

@media( max-width: 961px ) {
    .slider-h__pagination-icon {
        height: 9.33vw;
        width: 9.33vw;
    }
}

@media( max-width: 961px ) {
    .slider-h__pagination-text {
        width: auto;

        font-size: 2.93vw;
    }
}

@media( max-width: 961px ) {
    .slider-h__line {
        height: 1.60vw;
    }
}

@media( max-width: 961px ) {
    .slider-h__nav-line {
        width: 100%;
    }
}

@media( max-width: 961px ) {
    .slider-h__nav-line-item {
        border-radius: 0.80vw;
    }
}


.section-title__title {
    font-family: Alegreya;
    font-size: 5.21vw;
    font-weight: 400;

    color: #fff;
}

@media( max-width: 961px ) {
    .section-title__title {
        font-size: 10.67vw;
    }
}
.nav {
    width: 47%;
}

ul.nav__list {
    display: flex;

    justify-content: space-between;
}

.nav__item {
    display: flex;
    height: 2.60vw;
    width: 8.75vw;

    border-radius: 1.56vw;
    border: 2px solid #FFF;

    overflow: hidden;
}

.nav__item-link {
    display: flex;
    height: 100%;
    width: 100%;

    font-family: 'SofiaSans';
    font-size: 1.25vw;
    font-weight: 400;

    color: #fff;

    align-items: center;
    justify-content: center;
}

@media( max-width: 961px ) {
    .nav {
        width: fit-content;
    }
}

@media( max-width: 961px ) {
    ul.nav__list {
        gap: 2.67vw;
    }
}

@media( max-width: 961px ) {
    .nav__item {
        height: 8.80vw;
        width: 20.27vw;

        border-radius: 8vw;
        border-width: 1px;
    }
}

@media( max-width: 961px ) {
    .nav__item-link {
        font-size: 2.67vw;
    }
}

.sl-p {
    display: flex;
    width: 85%;
    max-width: 85%;
    margin-top: 1.67vw;

    flex-direction: column;
    align-items: center;
}

.sl-p__slides-list {
    position: relative;

    display: flex;
    height: 29.84vw;
    width: 100%;

    justify-content: center; 
    align-items: center;
}

.sl-p__slide-item {
    position: absolute;

    perspective: 46.88vw;

    opacity: 0;
}

.sl-p__slide-item_prev {
    left: 11%;

    opacity: 1 !important;
    z-index: 2;
}

.sl-p__slide-item_active {
    left: 50%;

    transform: translateX(-50%);

    opacity: 1 !important;
    z-index: 3;
}

.sl-p__slide-item_next {
    left: 63.8%;

    opacity: 1 !important;
    z-index: 2;
}

.sl-p__card {
    position: relative;

    display: flex;
    width: 21.15vw;
    height: 27.3vw;

    border-radius: 0.42vw;
    border: 0.16vw solid #F1551C;
    background: rgba(255, 255, 255, 1);

    flex-direction: column;
    align-items: center;
}

.sl-p__card-price {
    position: absolute;
    top: 4%; 
    left: 10%;

    font-family: "SofiaSans";
    font-size: 1.04vw;
    font-weight: 700;
    text-transform: uppercase;

    color: #3F3937;

    opacity: 0;
}

.sl-p__card-price span {
    margin-left: 0.2vw;

    font-size: 0.73vw;
}

.sl-p__slide-item_active .sl-p__card-price {
    opacity: 1;
}

.sl-p__card-mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/* -- */
.sl-p__slide-item_prev-l {
    left: 1.6%;

    display: block;

    opacity: 0;
    z-index: 2;
}

.sl-p__slide-item_prev-l .sl-p__card {
    box-shadow: -1.46vw 1.46vw 2.34vw rgba(0, 0, 0, 0.4);

    transform: rotateY(21deg);
}

.sl-p__slide-item_prev-l .sl-p__card-mask {
    background-color: rgba(49, 49, 49, 0.25);
}
/* -- */

/* -- */

.sl-p__slide-item_prev .sl-p__card {
    box-shadow: -1.46vw 1.46vw 2.34vw rgba(0, 0, 0, 0.4);

    transform: rotateY(21deg);
}

.sl-p__slide-item_prev .sl-p__card-mask {
    background-color: rgba(49, 49, 49, 0.25);
}

.sl-p__slide-item_active .sl-p__card {
    width: 21.15vw;
    height: 29.84vw;

    box-shadow: 0vw 0vw 2.34vw rgba(0, 0, 0, 0.8);
}

.sl-p__slide-item_active .sl-p__card-mask {
    background-color: rgba(49, 49, 49, 0.2);

    pointer-events: none;
}

.sl-p__slide-item_next .sl-p__card {
    box-shadow: 1.46vw 1.46vw 2.34vw rgba(0, 0, 0, 0.4);

    transform: rotateY(-21deg);
}

.sl-p__slide-item_next .sl-p__card-mask {
    background-color: rgba(49, 49, 49, 0.25);
}
/* -- */

/* -- */
.sl-p__slide-item_next-r {
    left: 73.1%;

    opacity: 0;
    z-index: 1;
}

.sl-p__slide-item_next-r .sl-p__card {
    box-shadow: 1.46vw 1.46vw 2.34vw rgba(0, 0, 0, 0.4);

    transform: rotateY(-21deg);
}

.sl-p__slide-item_next-r .sl-p__card-mask {
    background-color: rgba(49, 49, 49, 0.25);
}
/* -- */


.sl-p__slide-item_deco {
    position: relative;

    perspective: 46.88vw;
    z-index: 0;
}

.sl-p__slide-item_l {
    transform: translateX(-19.55vw);
}

.sl-p__slide-item_r {
    transform: translateX(19.55vw);
}

.sl-p__slide-card_deco {
    position: relative;

    width: 21.15vw;
    height: 27.3vw;

    border-radius: 0.42vw;
    border: 0.16vw solid #F1551C;
    background: rgba(255, 255, 255, 0.80);
}

.sl-p__slide-item_l .sl-p__slide-card_deco {
    box-shadow: -1.46vw 1.46vw 2.34vw rgba(0, 0, 0, 0.4);

    transform: rotateY(21deg);
}

.sl-p__slide-item_r .sl-p__slide-card_deco {
    box-shadow: 1.46vw 1.46vw 2.34vw rgba(0, 0, 0, 0.4);

    transform: rotateY(-21deg);
}

.sl-p__slide-card_deco-mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: rgba(0, 0, 0, 0.28);
}

.sl-p__control {
    display: flex;
    margin-top: 1.82vw;
}

.sl-p__arrow {
    width: 4.17vw;
    height: 4.17vw;
}

/* Слайдер в слайдере начало */

.sl-p__card-wr-slider {
    display: flex;
    width: 16.72vw;
    height: 19.32vw;

    flex-direction: column;
}

.sl-p__slide-item_active .sl-p__card-wr-slider {
    width: 15.26vw;
    height: 17.66vw;
}

.sl-p__card-wr-slides {
    flex-grow: 1;

    overflow: hidden;
}

.sl-p__card-slides-list {
    display: flex;
    height: 100%;
}

.sl-p__card-slides-item {
    flex-grow: 1;
}

.sl-p__card-slides-img {
    width: 100%;
    height: 100%;

    object-fit: contain;
    object-position: center;
}

/* Слайдер в слайдере конец */

.sl-p__card-title {
    margin-top: 0.52vw;

    font-family: 'SofiaSans';
    font-size: 1.56vw;
    font-weight: 700;
    text-transform: uppercase;

    color: #3F3937;
}

.sl-p__card-wr-content {
    display: flex;
    width: 100%;
    height: 0;
    margin-top: 1.09vw;
    padding-top: 1px;

    flex-direction: column;
    align-items: center;

    opacity: 0;
    overflow: hidden;
}

.sl-p__slide-item_prev .sl-p__card-wr-content {
    height: 0;

    transition: opacity 0.5s linear, height 1s linear 0.5s;

    opacity: 0;
}

.sl-p__slide-item_active .sl-p__card-wr-content {
    height: 30%;
    
    transition: height 0.5s linear, opacity 0.5s linear 0.5s;

    opacity: 1;
}

.sl-p__slide-item_next .sl-p__card-wr-content {
    height: 0;

    transition: opacity 0.5s linear, height 1s linear 0.5s;

    opacity: 0;
}

.sl-p__size-list {
    display: flex;
    gap: 0.52vw;

    justify-content: space-around;
}

.sl-p__size-item {
    height: 1.88vw;
    flex-basis: 10vw;
    padding: 0.10vw;

    border-radius: 0.16vw;

    cursor: pointer;
}

.sl-p__size-item_active {
    outline: 1px solid #3F3937;
}

.sl-p__size-item-num {
    display: flex;
    height: 100%;
    width: 100%;

    font-family: AbyssinicaSIL;
    font-size: 0.83vw;
    font-weight: 400;

    border-radius: 0.16vw;
    background: #000;
    color: #fff;

    align-items: center;
    justify-content: center;
}



.sl-p__card-slider-pag-list {
    display: flex;
    height: 0;
    gap: 0.52vw;

    align-self: center;

    opacity: 0;
    overflow: hidden;
}

.sl-p__slide-item_prev .sl-p__card-slider-pag-list {
    height: 0;

    transition: opacity 0.25s linear, height 0.25s linear 0.25s;

    opacity: 0;
}

.sl-p__slide-item_active .sl-p__card-slider-pag-list {
    height: 0.52vw;

    transition: height 0.25s linear, opacity 0.25s linear 0.25s;

    opacity: 1;
}

.sl-p__slide-item_next .sl-p__card-slider-pag-list {
    height: 0;

    transition: opacity 0.25s linear, height 0.25s linear 0.25s;

    opacity: 0;
}

.sl-p__card-slider-pag-item {
    width: 0.52vw;

    border-radius: 50%;
    background: #A59F9E;

    cursor: pointer;
}

.sl-p__card-slider-pag-item_active {
    background: #3F3937;

    cursor: default;
    pointer-events: none;
}

.sl-p__card-slider-color-list {
    position: absolute;
    top: 6.5%;
    right: 5%;

    display: flex;
    gap: 1.20vw;

    flex-direction: column;

    z-index: 2;
}

.sl-p__card-slider-color-item {
    width: 1.35vw;
    height: 1.35vw;
    padding: 0.16vw;

    border-radius: 50%;

    cursor: pointer;
    pointer-events: none;
}

.sl-p__slide-item_active .sl-p__card-slider-color-item {
    pointer-events: initial;
}

.sl-p__slide-item_active .sl-p__card-slider-color-item_active {
    border-width: 1px;
    border-style: solid;

    pointer-events: none;
}

.sl-p__card-slider-color-circle {
    width: 100%;
    height: 100%;

    border-radius: 50%;
}

.sl-p__card-content p {
    display: flex;
    margin-top: 0.68vw;

    font-family: 'SofiaSans';
    font-size: 0.83vw;
    font-weight: 400;
    text-align: center;
    line-height: 0.9;

    color: #3F3937;

    flex-direction: column;
}

.sl-p__card-wr-link {
    display: flex;
    margin-top: 0.94vw;

    justify-content: center;
}

.sl-p__card-link {
    display: flex;
    width: 15.57vw;
    height: 2.60vw;

    font-family: "SofiaSans";
    font-size: 1.04vw;
    font-weight: 400;

    border-radius: 1.56vw;
    background: #F1551C;
    box-shadow: 
        1px 1px 3px 0px rgba(0, 0, 0, 0.15), 
        5px 3px 6px 0px rgba(0, 0, 0, 0.13), 
        11px 7px 8px 0px rgba(0, 0, 0, 0.08), 
        20px 12px 9px 0px rgba(0, 0, 0, 0.02), 
        31px 18px 10px 0px rgba(0, 0, 0, 0.00)
    ;
    color: #FFF;

    align-items: center;
    justify-content: center;
}



@media( max-width: 961px ) {
    .sl-p {
        width: 100%;
        max-width: none;
        margin-top: 6vw;

        overflow: hidden;
    }
}

@media( max-width: 961px ) {
    .sl-p__slides-list {
        height: 101.33vw;
        width: fit-content;
        gap: 5.33vw;

        align-items: initial;
        justify-content: initial;
        align-self: flex-start;
    }
}

@media( max-width: 961px ) {
    .sl-p__slide-item_deco {
        display: none;
    }
}

@media( max-width: 961px ) {
    .sl-p__slide-item {
        position: static;

        perspective: none;
        opacity: 1;
    }
}

@media( max-width: 961px ) {
    .sl-p__slide-item_active {
        transform: none;
    }
}

@media( max-width: 961px ) {
    .sl-p__card {
        height: 100%;
        width: 69.33vw;

        border-radius: 2.13vw;
    }

    .sl-p__slide-item_active .sl-p__card {
        height: 100%;
        width: 69.33vw;
    }

    .sl-p__slide-item_prev .sl-p__card {
        transform: none;
    }

    .sl-p__slide-item_next .sl-p__card {
        transform: none;
    }
}

@media( max-width: 961px ) {
    .sl-p__card-wr-slider {
        height: 52.53vw;
        width: 44.27vw;
    }

    .sl-p__slide-item_active .sl-p__card-wr-slider {
        height: 52.53vw;
        width: 44.27vw;
    }
}

@media( max-width: 961px ) {
    .sl-p__card-slider-pag-list {
        height: 1.87vw;
        gap: 2.67vw;
    }

    .sl-p__slide-item_active .sl-p__card-slider-pag-list {
        height: 1.87vw;
    }

    .sl-p__slide-item_prev .sl-p__card-slider-pag-list {
        height: 1.87vw;

        opacity: 1;
    }
    
    .sl-p__slide-item_next .sl-p__card-slider-pag-list {
        height: 1.87vw;

        opacity: 1;
    }
}

@media( max-width: 961px ) {
    .sl-p__card-slider-pag-item {
        height: 1.33vw;
        width: 1.33vw;
    }
}

@media( max-width: 961px ) {
    .sl-p__card-slider-color-list {
        gap: 3.47vw;
    }
}

@media( max-width: 961px ) {
    .sl-p__card-slider-color-item {
        width: 3.73vw;
        height: 3.73vw;
    }
}

@media( max-width: 961px ) {
    .sl-p__card-mask {
        background-color: rgba(49, 49, 49, 0.2);
    }
}

@media( max-width: 961px ) {
    .sl-p__card-price {
        top: 2%;
        left: 3%;

        font-size: 4.80vw;

        opacity: 1;
    }

    .sl-p__card-price span {
        font-size: 3.20vw;
    }
}

@media( max-width: 961px ) {
    .sl-p__card-title {
        margin-top: 3.47vw;

        font-size: 3.73vw;
    }
}

@media( max-width: 961px ) {
    .sl-p__card-wr-content {
        height: auto;
        margin-top: 2.67vw;

        opacity: 1;
    }

    .sl-p__slide-item_active .sl-p__card-wr-content {
        height: auto;
    }

    .sl-p__slide-item_prev .sl-p__card-wr-content {
        height: auto;

        opacity: 1;
    }

    .sl-p__slide-item_next .sl-p__card-wr-content {
        height: auto;

        opacity: 1;
    }
}

@media( max-width: 961px ) {
    .sl-p__card-content {
        width: 100%;
    }
}

@media( max-width: 961px ) {
    .sl-p__size-item {
        height: 11.47vw;
        flex-basis: 100%;
        min-width: 11.47vw;
        max-width: 28.53vw;
        padding: 0.80vw;

        border-radius: 0.80vw;
    }
}

@media( max-width: 961px ) {
    .sl-p__size-list {
        width: 79%;
        margin: 0 auto;

        justify-content: center;
    }
}

@media( max-width: 961px ) {
    .sl-p__size-item-num {
        font-size: 3.73vw;

        border-radius: 0.80vw;
    }
}

@media( max-width: 961px ) {
    .sl-p__card-content p {
        margin-top: 2.4vw;

        font-size: 2.93vw;
    }
}

@media( max-width: 961px ) {
    .sl-p__card-wr-link {
        margin-top: 4.94vw;
    }
}

@media( max-width: 961px ) {
    .sl-p__card-link {
        width: 44.80vw;
        height: 10.67vw;

        font-size: 4.27vw;

        border-radius: 8vw;
    }
}

@media( max-width: 961px ) {
    .sl-p__control {
        margin-top: 4.82vw;
    }
}

@media( max-width: 961px ) {
    
}

@media( max-width: 961px ) {
    
}

@media( max-width: 961px ) {
    
}

@media( max-width: 961px ) {
    
}

@media( max-width: 961px ) {
    
}

@media( max-width: 961px ) {
    
}

@media( max-width: 961px ) {
    
}

@media( max-width: 961px ) {
    
}

@media( max-width: 961px ) {
    
}

@media( max-width: 961px ) {
    
}

@media( max-width: 961px ) {
    
}

@media( max-width: 961px ) {
    
}

@media( max-width: 961px ) {
    
}

@media( max-width: 961px ) {
    
}

@media( max-width: 961px ) {
    
}

@media( max-width: 961px ) {
    
}

@media( max-width: 961px ) {
    
}

@media( max-width: 961px ) {
    
}

@media( max-width: 961px ) {
    
}

@media( max-width: 961px ) {
    
}

@media( max-width: 961px ) {
    
}

@media( max-width: 961px ) {
    
}

@media( max-width: 961px ) {
    
}

@media( max-width: 961px ) {
    
}

@media( max-width: 961px ) {
    
}

@media( max-width: 961px ) {
    
}
.logo {
    display: inline-block;
    width: 6.51vw;
    height: 6.51vw;
}

.logo img {
    height: 100%;
    width: 100%;

    object-fit: contain;
    object-position: center;
}

@media( max-width: 961px ) {
    .logo {
        width: 16.80vw;
        height: 17.07vw;
    }
}
.slider__arrow {
    display: none;
    width: 4.17vw;
    height: 4.17vw;

    cursor: pointer;
}


@media( max-width: 961px ) {
    .slider__arrow {
        width: 13.33vw;
        height: 13.33vw;
    }
}

/*# sourceMappingURL=style.css.map*/